<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="conatiner">
    <ul class="nav flex-column col-md-3">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/add">Add</a>
        </li>
        {{#each blogs}}
        <li class="nav-item">
            <a class="nav-link" href="?blog={{id}}">{{title}}</a>
        </li>
        {{/each}}
        
    </ul>
    <div class="divider"></div>
    <div class="blog col-md-9">
        {{#if selectedBlog}}
            <h1>{{selectedBlog.title}}</h1>
            <div><p>{{selectedBlog.body}}</p></div>
        {{else}}
                <div class="jumbotron">
                    <h1 class="display-4">Welcome!</h1>
                    <p class="lead">This is sample blog i made in class.</p>
                    <hr class="my-4">
                    <p>It uses HTML, CSS, Node, Express and Mongo.</p>
                </div>
        {{/if}}
    </div>
</body>
</html>